@use "sass:list";

@font-face {
    font-family: 'Hanalei';
    src: url('./fonts/Hanalei-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Monoton';
    src: url('./fonts/Monoton-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

$linear_gradient: 'linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )';

$allBunnies: (
    "bugbunny", 
    "darkbunny", 
    "electricbunny", 
    "fairybunny", 
    "fightingbunny", 
    "firebunny", 
    "flyingbunny", 
    "ghostbunny", 
    "grassbunny", 
    "groundbunny", 
    "icebunny"
);

/** Room Page Generic Styling */
.body_class {
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #bfdfec;
    font-family: system-ui, calibri, serif;
    background-repeat: repeat-x;
    background-image: url("https://i.stack.imgur.com/b7z29.png");
    animation: movement 10s linear infinite;
}
.button_styles {
    padding: 3em;
    flex: 0 0 15%; 
}
.hanalei_font {
    font-family: Monoton, sans-serif;
}

/** Bunnies Container */
.bunnies_container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    gap: 2em;
    width: 100%;
    flex-wrap: wrap;
    margin-inline-start: 7em;
    margin-inline-end: 7em;
}

.buttons_container {
    position: relative;
    background-size: 100% 100%;
    min-height: 20em;
    min-width: 6em;
    flex: 0 0 15%;
    flex-grow: 4;
    z-index: 5;
}

/** Bunny Buttons Styling */
@mixin bunny_buttons_styles {
    background-size: 100% 100%;
    min-height: 20em;
    width: 100%;
    flex: 0 0 15%;
    flex-grow: 4;
    z-index: 5;
}

@each $bunny_name in $allBunnies {
    .btn-#{$bunny_name} {
        @include bunny_buttons_styles;
    }
    
    .btn-#{$bunny_name}:hover {
        filter: grayscale(95%);
        opacity: 0.5;
        transform: scale3d(1, 1, 1);
        transition: 200ms ease-out;
        transition-delay: 0.05s;
        transition-duration: 0.4s;
    }

    .btn_name {
        display: none;
        opacity: 0;
        font-size: 35px;
        color: darkblue !important;
        text-Transform: uppercase;
        font-Weight: 900;
        text-align: center;
    }

    .btn-#{$bunny_name}:hover {
        z-index: 1000;
        position: absolute;
        display: inline;
        bottom: 20%;
        transform: scale3d(1, 1, 1);
        transition: 200ms ease-out;
        transition-delay: 0.05s;
        transition-duration: 0.4s;
    }

    .btn-#{$bunny_name}:hover + .btn_name {
        opacity: 1;
        z-index: 1000;
        position: absolute;
        display: inline;
        transform: scale3d(1, 1, 1);
        transition: 200ms ease-in;
        transition-delay: 0.5s;
        transition-duration: 1s;
    }
}
  
@keyframes movement {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 560px 0px;
    }
}